#=================
#eclipse-workspace
#=================
eclipse-workspace

#=================
#eclipse-project
#=================
*.project
*.classpath
*.settings
*bin
*.springBeans
*.checkstyle

#=================
#maven-files
#=================
*target

#================
#Mac OS X hidden files/folders
#================
.DS_Store

#================
#WinXP hidden files/folders
#================
*Thumbs.db

#================
#Assembly artifacts
#================
*.zip


#================
#Logs and other debug stuff
#================
*.log
*log/
