#header {
	background-color: #E8F4F5;
	background-repeat: repeat-x;	
	display: block;
}
body {
	font-family: sans-serif;
	font-size: 80%;	
	background-color: #33CCFF;
}

#form{
}
#box{
margin-top: 2em;
width:90%;
-webkit-border-radius: 9px 9px 9px 9px;
-moz-border-radius: 9px 9px 9px 9px;
border-radius: 9px 9px 9px 9px;
background-color:#FFFFFF;
-webkit-box-shadow: #666666 5px 5px 5px;
-moz-box-shadow: #666666 5px 5px 5px;
 box-shadow: #666666 5px 5px 5px;
 margin-left: auto;
 margin-right: auto;
}
#bodyPart{
	margin-left: 12px;
	height: 50%;
}
#buttons {
	margin-top: 1em;
}
#title {
	foln-color: #240A80;
}
#panel {
	background-color: #FFFFFF;
}
#footer {
	margin-left: 12px;
}
